/packages
/TestRazorMediatorLayouts/bin
/TestRazorMediatorLayouts/obj
/TcmDebugger/bin
/TcmDebugger/obj
/TridionVSRazorExtension/bin
/TridionVSRazorExtension/obj
/TridionVSRazorExtension.Common/bin
/TridionVSRazorExtension.Common/obj
