/packages
/RazorMediatorLayouts/bin
/RazorMediatorLayouts/obj
/TestRazorMediatorLayouts/bin
/TestRazorMediatorLayouts/obj
/TcmDebugger/bin
/TcmDebugger/obj
/TridionVSRazorExtension/bin
/TridionVSRazorExtension/obj
/TridionVSRazorExtension.Common/bin
/TridionVSRazorExtension.Common/obj
/RazorGenerator.Core/bin
/RazorGenerator.Core/obj
/RazorGenerator.Core.v1/bin
/RazorGenerator.Core.v1/obj
/RazorGenerator.Core.v2/bin
/RazorGenerator.Core.v2/obj
/RazorGenerator.Core.v3/bin
/RazorGenerator.Core.v3/obj
/RazorGenerator.Core.v55/bin
/RazorGenerator.Core.v55/obj
/RazorGenerator.Tooling/bin
/RazorGenerator.Tooling/obj
