/packages
/RazorMediatorLayouts/bin
/RazorMediatorLayouts/obj
/TcmDebugger/bin
/TcmDebugger/obj
/TridionVSRazorExtension/bin
/TridionVSRazorExtension/obj
/TridionVSRazorExtension.Common/bin
/TridionVSRazorExtension.Common/obj
