<configuration>
  
  <configSections>
    <section name="tridionConfigSections" type="Tridion.Configuration.ConfigurationSections, Tridion.Common" />
    <section name="TcmDebugger" type="TcmDebugger.Misc.DebuggerConfig, TcmDebugger" />
  </configSections>
  
  <TcmDebugger>
    <database name="Tridion_cm" server="(local)" username="sa" password="123" />
    <logging level="Verbose" includeTridionClasses="true" />
    <templating schemaCache="C:\Program Files (x86)\Tridion\" enableImpersonation="false" impersonationIdentity="WIN2008R2\admin" />
    <cms url="http://localhost/" localPort="9090" previewDirectory="C:\temp\preview" />
    <debugging enableBreakpoint="true">
      <!--debugAssembly name="C:\Projects\dxa-modules ecl 1.1\content-management\ECL\bin\Debug\Sdl.Web.Tridion.Templates.Ecl" /-->
    </debugging>
  </TcmDebugger>

  <tridionConfigSections>
    <sections>
      <clear/>
      <add filePath="c:\Program Files (x86)\Tridion\config\Tridion.ContentManager.config" />
    </sections>
  </tridionConfigSections>
  
</configuration>
